.App {
  text-align: center;
}

#input-container input {
  opacity: 0;
}

#input-container {
  max-height: 30vh;
  overflow: hidden;
}

input:first-child {
  opacity: 1 !important;
}

#counter {
  float: right;
}