.App {
  text-align: center;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.5;
  display: inline;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

#story-container a:hover {
  color: #333;
  border-bottom: 1px solid;
}

.sign-in-prompt {
  font-size: 1rem;
}

.fa-copy {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-left: 0.25rem;
}

.author-attr {
  font-size: 0.75em;
  margin-bottom: 0.5em;
  color: #999;
}

/* .dropdown-item:hover {
  color: #000 !important;
  background-color: #fff;
} */

#input-container .input-wrapper  {
  opacity: 0;
  height: 0;
}

.preset-search-container {
  max-width: 200px;
}

.nav-link-box {
  /* border: 1px solid rgba(255,255,255,0.5); */
  border-radius: 4px;
  margin-left: 0.75em;
  box-shadow: 0 0 0 1pt rgba(0,0,0,0.2);
}

.input-wrapper:first-child {
  opacity: 1 !important;
  height: 100% !important;
}

#counter {
  float: right;
}

.container {
  height: 100vh;
}

.navbar {
  max-width: 1024px;
  margin: auto;
  padding: 0.75em 0 0.75em 0;
}

.nav-bg {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #ccc;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  /* border: 2px solid #fff !important; */
  display: block;
  padding: 0.25em 0.5em 0.25em 0em;
}

/* #navbarNavDropdown {
  padding: 1rem;
} */

.spacer {
  height: 1.5rem;
}

/* .logo-bold {
  font-weight: 800;
} */
/* 
.logo-strike {
  text-decoration: line-through;
} */

.nav-link {
  font-size: 0.875em;
}

.wrapper {
  max-width: 1024px;
  padding: 1.5rem;
  margin: auto;
  min-height: 410px;
  border: 1px solid #ccc;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* .wrapper:focus-within {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.story-wrapper {
  max-width: 1024px;
  padding: 1.5rem;
  min-height: 166px;
  margin: auto;
  border: 1px solid #ccc;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.swatch {
  width: 36px !important;
  height: 36px !important;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.swatch-preview {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #fff;
}

.icon-preview {
  width: 36px !important;
  height: 36px !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.icon-preview i {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  border: 1px solid #fff;

}

/* --- Profile Stuff --- */

.profile-pic {
  height: 40px;
  position: absolute;
  top: 0px;
  width: 40px;
  right: 25px;
  border-radius: 20px;
  text-align: center;
}

.profile-pic i {
  font-size: 1.375rem;
  color: #fff;
}

.profile-eyebrow {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #999;
}

.profile-pic-feed {
  height: 40px;
  float: left;
  width: 40px;
  border-radius: 20px;
  text-align: center;
  margin: 0.25em 0.75em 0 0;
}

.profile-name {
  line-height: 2;
}

.profile-subtext {
  font-size: 0.875rem;
}

.profile-subtext:first-letter{
  text-transform: capitalize;
}

.profile-pic-feed i {
  font-size: 1.375rem;
  color: #fff;
}

.profile-pic-profile {
  height: 60px;
  float: left;
  width: 60px;
  border-radius: 4rem;
  text-align: center;
  margin: 0.25em 0.75em 0 0;
}

.profile-pic-profile i {
  font-size: 2.25rem;
  color: #fff;
}

.table {
  margin-top: 2rem;
  font-size: 0.875rem;
}


/* -------------------*/

.dropdown-item i {
  font-size: 2rem;
}

.color-drop {
  height: 30px;
  padding: 1em;

}

option {
  font-family: 'Font Awesome\ 5 Brands' , 'arial' !important;
}


.story-summary {
  color: #666;
}

.input-labels {
  font-size: 0.875em;
}


.user-dropdown {
  right: 10px;
  left: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
 }

 .user-dropdown::-webkit-scrollbar {
   width: 0 !important;
 }

 .search-dropdown {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
 }

 .search-dropdown::-webkit-scrollbar {
   width: 0 !important;
 }


 .main-container {
   width: 100vw !important;
   margin: 0 !important;
   padding: 0 !important;
 }

#story-container {
  font-size: 1rem;
}

.word-input {
  border-style: none;
  border-bottom: 1px solid #533790;
  padding-left: 0.25rem;
}

.word-input:focus {
  outline: none;
  box-shadow: none;
}

.col-md-12 {
  padding: 0;
}

.row {
  margin: 0;
}

.input-label {
  font-size: 1rem;
}

label {
  font-size: 1rem;
}

.dropdown-menu {
  max-height: 180px;
  overflow-y: scroll;
}

.dropdown-menu i {
  pointer-events: none;
}

/* .login-links {
  display: inline;
} */

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 95%;
  }
  .navbar {
    max-width: 95%;
  }
  .nav-link {
    font-size: 1.5em;
  }
}